
/*-------------------------
	File manager
-------------------------*/



/*-------------------------
	Breadcrumps
-------------------------*/


.filemanager .breadcrumbs {
    color: #333333;
    margin-left:20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    vertical-align: center;
}

.filemanager .breadcrumbs a:link, .breadcrumbs a:visited {
    color: #333333;
    text-decoration: none !important;
}

.filemanager .breadcrumbs a:hover {
    text-decoration: underline;
}

.filemanager .breadcrumbs .arrow {
    color:  #6a6a72;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.filemanager .breadcrumbs .folderName:first-child::before{
	display: inline-block;
	vertical-align: middle;
    content: "";


	background-image: url(../img/places/user-home.svg);
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: center;
	width: 24px;
	height: 24px;
	margin-right: 5px;

}

/*-------------------------
	Search box
-------------------------*/


.filemanager .search {
    padding: 0 25%;
}

.filemanager .search input[type=search] {


    width: 100%;
    padding: 10px 35px 10px 20px;
    background-color: transparent;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    color: #575756;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 95% center;
    background-position: calc(100% - 20px) center;
    border-radius: 50px;
    border: 1px solid #c4c4c2 !important;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #4d535e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #4d535e;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #4d535e;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #4d535e;
}


/*-------------------------
	Content area
-------------------------*/

.filemanager .data {
    margin-top: 60px;
    z-index: -3;
}

.filemanager .data.animated {
    -webkit-animation: showSlowlyElement 300ms; /* Chrome, Safari, Opera */
    animation: showSlowlyElement 300ms; /* Standard syntax */
}

.filemanager .data li {
    border-radius: 3px;
    background-color: #fff;
    width: 307px;
    height: 80px;
    list-style-type: none;
    margin: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 0.3em;
    z-index: 1;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s background-color;
}

.filemanager .data li:hover {
    background-color: #f2f7ff;

}

.filemanager .data li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.filemanager .data li .name {
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    width: 150px;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 15px;
}

.filemanager .data li .details {
    color: #96a4af;
    font-size: 13px;
    font-weight: 400;
    width: 55px;
    height: 10px;
    top: 39px;
    white-space: nowrap;
    position: absolute;
    display: inline-block;
}

.filemanager .nothingfound {
    width: 23em;
    height: 21em;
    margin: 0 auto;
    display: none;
    font-family: Arial;
    -webkit-animation: showSlowlyElement 300ms; /* Chrome, Safari, Opera */
    animation: showSlowlyElement 300ms; /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
    margin: 30px auto;
    top: 3em;
    border-radius: 50%;
    position:relative;
    background-color: #d72f6e;
    width: 11em;
    height: 11em;
    line-height: 11.4em;
}
.filemanager .nothingfound .nofiles:after {
    content: '×';
    position: absolute;
    color: #ffffff;
    font-size: 14em;
    margin-right: 0.092em;
    right: 0;
}

.filemanager .nothingfound span {
    margin: 0 auto auto 6.8em;
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    height: 13px;
    position: relative;
    top: 2em;
}


@media all and (max-width:965px) {

    .filemanager .data li {
        width: 100%;
        margin: 5px 0;
    }

    .filemanager .search {
        padding: 0 5%;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
    100%   	{ transform: scale(1); opacity: 1; }
    0% 		{ transform: scale(1.05); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
    100%   	{ transform: scale(1); opacity: 1; }
    0% 		{ transform: scale(1.05); opacity: 0; }
}


/*-------------------------
		Icons
-------------------------*/

.icon {
    font-size: 23px;
    display: inline-block;
    margin: 0 1em 0 0.7em;
    background-color: transparent;
    overflow: hidden;

	width: 2.5em;
	height: 3em;

	display: inline-block;

	position: relative;

	background-size: 2.5em 2.5em;
	background-repeat: no-repeat;
	background-position: center;

}

.icon.folder{
	background-image: url(../img/places/folder-blue.svg);
}

.icon.folder.full{
	background-image: url(../img/places/folder-blue-open.svg);
}

.icon.file {

}


.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {

}
.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {

}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma{

}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma {

}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-rtf,
.icon.file.f-odt{
	background-image: url(../img/mimetypes/wps-office-doc.svg);
}

.icon.file.f-xls,
.icon.file.f-xlsx {
	background-image: url(../img/mimetypes/application-table.svg);
}


.icon.file.f-pdf {

}

.icon.file.f-psd {

}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {

}


.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
	background-image: url(../img/mimetypes/application-archive.svg);
}

.icon.file.f-html,
.icon.file.f-xml,
.icon.file.f-xhtml {

}

.icon.file.f-js {

}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {

}
